/*global*/
* {
  padding: 0px;
  margin: 0px;
}

:root {
    --bg-blue:#1bbfe8;
    --bg-yellow: rgb(223, 223, 17);
}

div[class^="flex-container"] {
    margin-bottom: 20px;
  }
p {
    background-color: var(--bg-yellow);
    padding: 20px;
    font-weight: bold;
  }

h1 {
    color: aqua;
    text-align: center;
    margin-bottom: 50px;
}

/* =========== Row =========== */
/* flex-start */
.flex-container-row-start {
    background: var(--bg-blue);
    display: flex;
    justify-content: flex-start;
}

.flex-container-row-center {
    background: var(--bg-blue);
    display: flex;
    justify-content: center;
}

.flex-container-row-end {
    background: var(--bg-blue);
    display: flex;
    justify-content: flex-end;
}

.flex-container-row-between {
    background: var(--bg-blue);
    display: flex;
    justify-content: space-between ;
}

.flex-container-row-around {
    background: var(--bg-blue);
    display: flex;
    justify-content: space-around ;
}
.flex-container-row-evenly {
    background: var(--bg-blue);
    display: flex;
    justify-content: space-evenly ;
}
.flex-container-column-start {
    background: var(--bg-blue);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.flex-container-column-center {
    background: var(--bg-blue);
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.flex-container-column-end {
    background: var(--bg-blue);
    display: flex;
    flex-direction: column;
    align-items: flex-end;   
}
.flex-container-column-stretch {
    background: var(--bg-blue);
    display: flex;
    flex-direction: column;
    align-items: stretch;   
}
.flex-container-row-column-2 {
    background: var(--bg-blue);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-container-row-column-3 {
    background: var(--bg-blue);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-container-row-column-4 {
    background: var(--bg-blue);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.flex-container-row-column-5 {
    background: var(--bg-blue);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}